In [ ]:
#The csv files (USvideos.csv, MXvideos.csv) are available @https://www.kaggle.com/datasnaek/youtube-new

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
usa_df=pd.read_csv("USvideos.csv")
mx_df=pd.read_csv("MXvideos.csv",engine='python')

In [2]:
#usa_df.head()

In [3]:
#usa_df.info()

In [4]:
#mx_df.info()

In [5]:
#usa_df['category_id'].unique()

In [73]:
import requests
temp_category_usa={}
temp_category_mx={}

url="https://www.googleapis.com/youtube/v3/videoCategories?part=snippet&regionCode=US&key=AIzaSyDj7XbNnUjmUHGKxrPEy_KBmuh6J5gDoes"
res=requests.get(url)
cat_json_usa=res.json()


url1="https://www.googleapis.com/youtube/v3/videoCategories?part=snippet&regionCode=MX&key=AIzaSyDj7XbNnUjmUHGKxrPEy_KBmuh6J5gDoes"
res1=requests.get(url1)
cat_json_mx=res1.json()


for i in range(len(cat_json_usa['items'])):
    temp_category_usa[cat_json_usa['items'][i]['id']]=cat_json_usa['items'][i]['snippet']['title']
#category_usa


for i in range(len(cat_json_mx['items'])):
    temp_category_mx[cat_json_mx['items'][i]['id']]=cat_json_mx['items'][i]['snippet']['title']
#category_mx

#The temp_category_usa and temp_category_mx produce a dictionary with keys as strings and I need to redo that to have an integer value i.e.
#without ' ' around the number. If it is left with '' then map command cannot match the integer value in usa_df_dropcol to string val in temp_category_mx
category_usa= {int(old_key): val for old_key, val in temp_category_usa.items()}
category_mx= {int(old_key): val for old_key, val in temp_category_mx.items()}

category_mx

{1: 'Film & Animation',
 2: 'Autos & Vehicles',
 10: 'Music',
 15: 'Pets & Animals',
 17: 'Sports',
 18: 'Short Movies',
 19: 'Travel & Events',
 20: 'Gaming',
 21: 'Videoblogging',
 22: 'People & Blogs',
 23: 'Comedy',
 24: 'Entertainment',
 25: 'News & Politics',
 26: 'Howto & Style',
 27: 'Education',
 28: 'Science & Technology',
 30: 'Movies',
 31: 'Anime/Animation',
 32: 'Action/Adventure',
 33: 'Classics',
 34: 'Comedy',
 35: 'Documentary',
 36: 'Drama',
 37: 'Family',
 38: 'Foreign',
 39: 'Horror',
 40: 'Sci-Fi/Fantasy',
 41: 'Thriller',
 42: 'Shorts',
 43: 'Shows',
 44: 'Trailers'}

In [19]:
print(category_usa == category_mx)

False

In [20]:
usa_df_dropcol=usa_df.drop(['video_id','thumbnail_link','description','tags','channel_title'], axis=1)

In [21]:
mx_df_dropcol=mx_df.drop(['video_id','thumbnail_link','description','tags','channel_title'], axis=1)

In [22]:
usa_df_dropcol.head(10)

,trending_date,title,category_id,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,video_error_or_removed
0,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,22,2017-11-13T17:13:01.000Z,748374,57527,2966,15954,False,False,False
1,17.14.11,The Trump Presidency: Last Week Tonight with J...,24,2017-11-13T07:30:00.000Z,2418783,97185,6146,12703,False,False,False
2,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",23,2017-11-12T19:05:24.000Z,3191434,146033,5339,8181,False,False,False
3,17.14.11,Nickelback Lyrics: Real or Fake?,24,2017-11-13T11:00:04.000Z,343168,10172,666,2146,False,False,False
4,17.14.11,I Dare You: GOING BALD!?,24,2017-11-12T18:01:41.000Z,2095731,132235,1989,17518,False,False,False
5,17.14.11,2 Weeks with iPhone X,28,2017-11-13T19:07:23.000Z,119180,9763,511,1434,False,False,False
6,17.14.11,Roy Moore & Jeff Sessions Cold Open - SNL,24,2017-11-12T05:37:17.000Z,2103417,15993,2445,1970,False,False,False
7,17.14.11,5 Ice Cream Gadgets put to the Test,28,2017-11-12T21:50:37.000Z,817732,23663,778,3432,False,False,False
8,17.14.11,The Greatest Showman | Official Trailer 2 [HD]...,1,2017-11-13T14:00:23.000Z,826059,3543,119,340,False,False,False
9,17.14.11,Why the rise of the robots won’t mean the end ...,25,2017-11-13T13:45:16.000Z,256426,12654,1363,2368,False,False,False

In [23]:
usa_df_dropcol['category_name']=usa_df_dropcol['category_id'].map(category_usa)

In [24]:
mx_df_dropcol['category_name']=mx_df_dropcol['category_id'].map(category_mx)

In [40]:
####For use later
###usa_df_dropcol[(usa_df_dropcol['likes']== 0) & (usa_df_dropcol['ratings_disabled'] == False)]

In [41]:
usa_df_dropcol.info()
#From the info one can see that there are no null values in any of the cols for usa_df_dropcol

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40949 entries, 0 to 40948
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   trending_date           40949 non-null  object
 1   title                   40949 non-null  object
 2   category_id             40949 non-null  int64
 3   publish_time            40949 non-null  object
 4   views                   40949 non-null  int64
 5   likes                   40949 non-null  int64
 6   dislikes                40949 non-null  int64
 7   comment_count           40949 non-null  int64
 8   comments_disabled       40949 non-null  bool
 9   ratings_disabled        40949 non-null  bool
 10  video_error_or_removed  40949 non-null  bool
 11  category_name           40949 non-null  object
dtypes: bool(3), int64(5), object(4)
memory usage: 2.9+ MB

In [66]:
mx_df_dropcol.info()
#From the info one can see that there are no null values in any of the cols for mx_df_dropcol except the new added col, 'category_name'
#Investingating

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40451 entries, 0 to 40450
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   trending_date           40451 non-null  object
 1   title                   40451 non-null  object
 2   category_id             40451 non-null  int64
 3   publish_time            40451 non-null  object
 4   views                   40451 non-null  int64
 5   likes                   40451 non-null  int64
 6   dislikes                40451 non-null  int64
 7   comment_count           40451 non-null  int64
 8   comments_disabled       40451 non-null  bool
 9   ratings_disabled        40451 non-null  bool
 10  video_error_or_removed  40451 non-null  bool
 11  category_name           40199 non-null  object
dtypes: bool(3), int64(5), object(4)
memory usage: 2.9+ MB

In [67]:
mx_df_dropcol[mx_df_dropcol['category_name'].isnull()]

,trending_date,title,category_id,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,video_error_or_removed,category_name
56,17.14.11,Leslie mar vs Mayela Without you - la voz MÃ©x...,29,2017-11-13T05:11:11.000Z,15814,91,5,14,False,False,False,NaN
61,17.14.11,ULTIMAS NOTICIAS HOY 13 DE NOVIEMBRE 2017. TER...,29,2017-11-12T22:25:55.000Z,75173,290,34,55,False,False,False,NaN
234,17.15.11,MÃ©xico vs Polonia 1-0 Amistoso 2017 TV AZTECA...,29,2017-11-13T22:37:53.000Z,338216,1665,146,916,False,False,False,NaN
253,17.15.11,Damaris y Magaly Volvieron a ser Enemigas,29,2017-11-15T00:27:50.000Z,178523,0,0,114,False,True,False,NaN
391,17.15.11,Great solo performance by Taboo of Black Eyed ...,29,2017-11-14T06:49:33.000Z,121927,51,20,10,False,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
38336,18.03.06,La muerte del Segundo Hokage - Tobirama le da ...,29,2018-06-02T20:41:54.000Z,19246,334,9,55,False,False,False,NaN
38731,18.05.06,Bebeshita fue Coronada Especialista del Amor jaja,29,2018-06-05T00:54:48.000Z,47694,0,0,110,False,True,False,NaN
39197,18.08.06,T|embla Mishelle Porque llegÃ³ una Vers|Ã³n Me...,29,2018-06-08T01:59:21.000Z,117279,0,0,159,False,True,False,NaN
39416,18.09.06,Rorro ApareciÃ³ y ConfesÃ³ PorquÃ© se SeparÃ³ ...,29,2018-06-09T00:02:43.000Z,110597,0,0,93,False,True,False,NaN
40361,18.14.06,Carmen Furiosa CorriÃ³ a Shirly por Grosera,29,2018-06-14T00:38:32.000Z,197528,0,0,327,False,True,False,NaN

In [71]:
mx_df_dropcol[mx_df_dropcol['category_name'].isnull()]

,trending_date,title,category_id,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,video_error_or_removed,category_name
56,17.14.11,Leslie mar vs Mayela Without you - la voz MÃ©x...,29,2017-11-13T05:11:11.000Z,15814,91,5,14,False,False,False,NaN
61,17.14.11,ULTIMAS NOTICIAS HOY 13 DE NOVIEMBRE 2017. TER...,29,2017-11-12T22:25:55.000Z,75173,290,34,55,False,False,False,NaN
234,17.15.11,MÃ©xico vs Polonia 1-0 Amistoso 2017 TV AZTECA...,29,2017-11-13T22:37:53.000Z,338216,1665,146,916,False,False,False,NaN
253,17.15.11,Damaris y Magaly Volvieron a ser Enemigas,29,2017-11-15T00:27:50.000Z,178523,0,0,114,False,True,False,NaN
391,17.15.11,Great solo performance by Taboo of Black Eyed ...,29,2017-11-14T06:49:33.000Z,121927,51,20,10,False,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
38336,18.03.06,La muerte del Segundo Hokage - Tobirama le da ...,29,2018-06-02T20:41:54.000Z,19246,334,9,55,False,False,False,NaN
38731,18.05.06,Bebeshita fue Coronada Especialista del Amor jaja,29,2018-06-05T00:54:48.000Z,47694,0,0,110,False,True,False,NaN
39197,18.08.06,T|embla Mishelle Porque llegÃ³ una Vers|Ã³n Me...,29,2018-06-08T01:59:21.000Z,117279,0,0,159,False,True,False,NaN
39416,18.09.06,Rorro ApareciÃ³ y ConfesÃ³ PorquÃ© se SeparÃ³ ...,29,2018-06-09T00:02:43.000Z,110597,0,0,93,False,True,False,NaN
40361,18.14.06,Carmen Furiosa CorriÃ³ a Shirly por Grosera,29,2018-06-14T00:38:32.000Z,197528,0,0,327,False,True,False,NaN